* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .album-container {
    width: 470px;
    height: 200px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 7px 0px rgba(134, 134, 134, 0.73);
    margin: 20px;
    /* justify-content: space-between; */
  }
  
  .album-contenido {
    width: 45%;
    /* padding: 20px; */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .album-info {
    /* width: 45%; */
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .album-titulo {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .album-subtitulo {
    margin-top: 3px;
    font-size: 15px;
    color: rgb(109, 109, 109);
    font-weight: normal;
  }
  
  .cronologia {
    /* font-style: italic; */
    color: rgb(141, 141, 141);
    font-size: 14px;
  }
  
  .album-pie {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .album-pie img {
    cursor: pointer;
  }
  
  .genero {
    background-color: pink;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 13px;
    width: 55%;
  }
  